// Login.scss
.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  min-height: 365px;
  background-color: #cbcbcb;
    .switch-mode {
        background: none;
        color: #007bff;
        border: none;
        margin-top: 15px;
        padding: 0;
        cursor: pointer;
      
        &:hover {
          text-decoration: underline;
          background-color: unset !important    ;
        }
      }
      
    h2 {
      text-align: center;
      color: #333333;
    }
  
    input[type="email"], input[type="password"] {
      width: calc(100% - 20px);
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #dddddd;
      border-radius: 5px;
      box-sizing: border-box;
    }
  
    button {
      width: 100%;
      padding: 10px;
      background-color: #0056b3;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #004494;
      }
    }
  }
  